

<hr>
<footer id="footer">
  <div id="contact-icons">
    <a class="no-style" href="mailto:likithgangaiah@gmail.com" target="_blank" title="Email">
      <span class="iconify" data-icon="mdi:email"></span>
    </a>
    <a class="no-style" href="https://github.com/LikithKumarGowda" target="_blank" rel="noopener noreferrer" title="GitHub">
      <span class="iconify" data-icon="mdi:github"></span>
    </a>
    <a class="no-style" href="https://www.linkedin.com/in/likith-kumar-gowda-a366a2211" target="_blank" rel="noopener noreferrer" title="LinkedIn">
      <span class="iconify" data-icon="mdi:linkedin"></span>
    </a>
  </div>
  <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
</footer>
