{% extends "base.html" %}

{% block title %}Home | {{ config.title }}{% endblock title %}

{% block content %}
<section class="hero">
  <h1>Hello, I'm Likith </h1>
  <p>I'm a Electronics Student who loves learning new things. I enjoy solving challenging problems. </p> 
</section>

<section class="hero">
 <h1>Hobbies</h1>
 <p>Gaming - It's not a hobby, it's a lifestyle</p>
 <p>Playing Cricket, Badminton</p>
 <p>Reading Novels, Manga</p>
</section>

<section>
 <h1>Why This Blog</h1>
 <p>I want to write about things I learn, build and play</p>
</section>
{% endblock content %}
